body {
	width: 100%;
	background-color: #3a3a3a;
	background-image: url("images/bg.jpg");	
	background-repeat: repeat;	
	margin: 0;	
	padding: 0;	
	border: 0;	
	outline: 0;	
	font-size: 100%;
	vertical-align: baseline;
}

@font-face {
font-family: Helvetica;
src:url("css/HelveticaNeueLTProHv.otf");
}

.header {
	position: relative;
	text-align:center;
	xpadding: 20px 20px 20px 20px;
        margin: 30px 30px 60px 30px;
	font-family: Helvetica;
	text-transform: uppercase;
	font-size: 25px;
        width: 450px;
	color: #000;
}

.photorow {
	font-size: 15px;
        background-color: grey;
}

.photocol1 {
	text-transform: uppercase;
	text-align:right;
	color: #fff;
        width: 50px;
        padding: 5px 5px 5px 5px;
}

.photocol2 {
	text-align:left;
	color: #dddddd;
        width: 400px;
        padding: 5px 5px 5px 5px;
}

.photocol3 {
	text-align:center;
        padding: 0px 0px 40px 0px;
        width: 450px;
}

.content {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	-webkit-border-radius: 1%;
	-moz-border-radius: 1%;
	border-radius: 1%;
	padding: 25px 15px 35px 35px;
	overflow: hidden;
	width: 530px;
	font-weight: bold;
        background-color: #fff;
	font-family: Arial, Tahoma;
	font-size: 14px;

	min-height: 60px;
        color: #222222;
	line-height: 18px;
}

input[type=text] {
	position: relative;
	background-color: #fff;
	color: #222222;
        width: 100px;
}

select {
	position: relative;
	background-color: #fff;
	color: #222222;
        width: 220px;
}

input[type=submit] {
	position: relative;
        background-color: #000;
        border: 0;
        color: #fff;
        padding: 3px 3px;
        text-decoration: none;
        font-weight: bold;
        margin: 0px 10px;
}
